@model Webzine.WebApplication.ViewModels.ArtistViewModel

@{
    ViewData["title"] = "Artist";
}

<style>
    table * {
        border: none !important;
    }
</style>


<section>
    <div>
        <h1>@this.Model.Artist.Nom</h1>
        <hr />
        <p style="text-align:justify">@this.Model.Artist.Biographie</p>

        <p>Date de naissance : @this.Model.Artist.DateNaissance.ToString("dd/M/yyyy")</p>

        <p>Site web : <a href="@this.Model.Artist.UrlSite">@this.Model.Artist.UrlSite</a></p>


        <h1 class="mt-5">Albums</h1>
        <hr />

        <section class="row mt-4">
            <p class="col-md-3"></p>
            <h3 class="col-md-9">Blade Runner</h3>
            <div class="row mb-5">
                <img class="col-md-3" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/artistic-album-cover-design-template-d12ef0296af80b58363dc0deef077ecc_screen.jpg?ts=1561488440" />
                <div class="col-md-9">
                    <table class="table">
                        <thead class="table-secondary">
                            <tr>
                                <th>Durée</th>
                                <th>Titre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>03:43</td>
                                <td><a href="">Blade Runner - End Titles</a></td>
                            </tr>
                            <tr>
                                <td>03:43</td>
                                <td><a href="">Blade Runner - End Titles</a></td>
                            </tr>
                            <tr>
                                <td>03:43</td>
                                <td><a href="">Blade Runner - End Titles</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="row mt-4">
            <p class="col-md-3"></p>
            <h3 class="col-md-9">Blade Runner</h3>
            <div class="row mb-5">
                <img class="col-md-3" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/pride-album-cover-art-design-template-d2bf21df8ead7742d0af24f0143097df_screen.jpg?ts=1596467888" />
                <div class="col-md-9">
                    <table class="table">
                        <thead class="table-secondary">
                            <tr>
                                <th>Durée</th>
                                <th>Titre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>03:43</td>
                                <td><a href="">oui</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</section>
