@model Webzine.WebApplication.ViewModels.HomeViewModel

@{
	ViewData["title"] = "Accueil";
}

@*Partie principale de la chronique*@
<h1>Derniers titres chroniqués</h1>

@foreach (var titre in this.Model.OrderedTitles)
{
    <div class="col mb-3">
        <div class="row bg-light">
            @*Image*@
            <div class="col-md-2">
                <a asp-controller="titre" asp-route-IdTitre="@titre.IdTitre">
                    <img class="img-thumbnail" src="@titre.UrlJaquette" />
                </a>
            </div>

            @*Contenu*@
            <div class="col-md-9">
                <div class="card-body">
                    @*Titre*@
                    <div class="card-title"><h4 class="text-primary"><a asp-controller="artiste" asp-route-nomArtiste="@titre.Artiste.Nom">@titre.Artiste.Nom</a> - <a asp-controller="titre" asp-route-IdTitre="@titre.IdTitre">@titre.Libelle</a></h4></div>
                    @*Description*@
                    <div class="card-text mb-4">
                        @if (@titre.Chronique.Length >= 200)
                        {
                            @titre.Chronique.Substring(0, 200)<span>...</span>
                        }
                        else @titre.Chronique
                    </div>

                    @*Boutons / Informations*@
                    <div class="row align-self-end">
                        <div class="row align-items-center">
                            <div class="col-auto ">
                                <p><a asp-controller="titre" asp-route-IdTitre="@titre.IdTitre" class="btn btn-primary">Lire la suite</a></p>
                            </div>

                            <div class="col-auto ">
                                <p>
                                    <i class="fas fa-calendar-week"></i>&nbsp;
                                    @titre.DateCreation.ToString("dd/MM/yyyy HH:mm:ss")
                                </p>
                            </div>

                            <div class="col-auto ">
                                <p>
                                    <i class="fas fa-tags"></i>&nbsp;
                                    @if (titre.TitresStyles != null)
                                    {
                                        @foreach (var @style in titre.TitresStyles)
                                        {
                                            <a asp-controller="StyleSearch" asp-route-libelle="@style.Libelle" class="text-decoration-none text-primary">@style.Libelle</a>
                                        }
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*Boutons*@

<nav aria-label="Page navigation example" class="mx-auto"></nav>

<div class="d-flex justify-content-between mt-4">
    @if (Model.CurrentPage <= 1)
    {
        <a style="pointer-events:none" class="btn btn-light" asp-controller="page" asp-action="@(Model.CurrentPage-1)">Titres plus récents</a>
    }
    else
    {
        <a class="btn btn-secondary" asp-controller="page" asp-action="@(Model.CurrentPage-1)">Titres plus récents</a>
    }
    @* <ul class="pagination">
        @for (int i = 1; i <= Model.NumberOfPages; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="page-item"><a style="color:black" asp-controller="page" asp-action="@i" class="page-link">@i</a></li>
            }
            else
            {
                <li class="page-item"><a asp-controller="page" asp-action="@i" class="page-link">@i</a></li>
            }
        }
    </ul>*@

    @if (Model.CurrentPage >= Model.NumberOfPages)
    {
        <a style="pointer-events:none" class="btn btn-light" asp-controller="page" asp-action="@(Model.CurrentPage + 1)">Titres plus anciens >></a>
    }
    else
    {
        <a class="btn btn-secondary" asp-controller="page" asp-action="@(Model.CurrentPage + 1)">Titres plus anciens >></a>
    }
</div>
<br />

<h1>Titres les plus populaires</h1>
@*Liste des titres populaires*@

<div class="row mt-4">
    @foreach (var titre in this.Model.MostPopularTitles)
    {
        <div class="col-md-4">
            <div class="card">
                <a asp-controller="titre" asp-route-IdTitre="@titre.IdTitre"><img class="card-img-top" src="@titre.UrlJaquette" /></a>
                <div class="card-body">
                    <h5 class="card-title"><a asp-controller="titre" asp-route-IdTitre="@titre.IdTitre">@titre.Libelle</a></h5>
                    <h4 class="card-text">par <a asp-controller="artiste" asp-route-nomArtiste="@titre.Artiste.Nom">@titre.Artiste.Nom</a></h4>
                </div>
            </div>
        </div>
    }
</div>