@model Webzine.WebApplication.ViewModels.HomeViewModel

@{
	ViewData["title"] = "Home";
}

<div class="row">

	@*Partie principale de la chronique*@
    <div>
        <h1>Derniers titres chroniqués</h1>
        <br />

        @foreach (var title in this.Model.LastReleasedTitles)
        {
            <div class="row bg-light">

                @*Image*@
                <div class="col-sm-2 p-4">
                    <img class="img-thumbnail" src="@title.UrlJaquette" />
                </div>

                @*Contenu*@
                <div class="col-md-9">
                    @*Titre*@
                    <div class="card-title"><h4>@title.Libelle</h4></div>
                    @*Description*@
                    <div style="text-align: justify">
                        @title.Chronique
                    </div>
                    <br />

                    @*Boutons / Informations*@
                    <div class="row align-self-end">
                        <div class="row align-items-center">
                            <div class="col-auto ">
                                <p>
                                    <a asp-controller="Title" class="btn btn-primary">Lire la suite</a>
                                </p>
                            </div>
                            <div class="col-auto ">
                                <p>
                                    <i class="fas fa-calendar-week"></i>&nbsp;
                                    @title.DateCreation | @title.DateSortie
                                </p>
                            </div>
                            <div class="col-auto ">
                                <p>
                                    <i class="fas fa-tags"></i>&nbsp;
                                    @foreach (var @style in title.TitresStyles)
                                    {
                                        <a class="text-decoration-none text-primary">@style.Libelle</a>

                                    }
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }

        <br />

        @*Boutons*@
        <div class="d-flex justify-content-between mt-4">
            <button class="btn btn-secondary w-10 col-md-4">Titres plus récents</button>
            <button class="btn btn-secondary w-10 col-md-4">Titres plus anciens</button>
        </div>
        <br />

        <h1>Titres les plus populaires</h1>
        <br />

        @*Liste des titres populaires*@

        
    <div class="row mt-4">
        @foreach (var @title in this.Model.MostPopularTitles)
        {
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="@title.UrlJaquette" />
                    <div class="card-body">
                        <h5 class="card-title"><a href="">@title.Libelle</a></h5>
                        <h4 class="card-text">par <a href="">@title.Artiste.Nom</a></h4>
                    </div>
                </div>
            </div>
        }

    </div>
    </div>
</div>
