@model Webzine.WebApplication.Areas.Admin.ViewModels.TitleViewModel

@{
    var action = "";
    var titre = "";

    @if (Model.Titre == null)
        {
            titre = "Créer";
        }
        else
        {
            titre = "Editer";
        }

    ViewData["title"] = "Admin - Titres - Création";
}

<div class="container">
    <div class="row">
        <div>
            <h1>@titre un titre</h1>
            <hr />
        </div>
        <form asp-action="@action" method="post">
            <div class="row mb-4">
                <div class="col-sm-6 col-lg-2">
                    <label>Nom de l'artiste</label>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-10">
                    <select class="w-100">
                        @foreach (var artiste in Model.Artistes)
                        {
                            <option>@artiste.Nom</option>

                        }
                    </select>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-sm-6 col-lg-2">
                    <label>Titre</label>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-10">
                    @if (Model.Titre == null)
                    {
                        <input type="text" class="form-control">
                    }
                    else
                    {
                        <input type="text" class="form-control" value="@Model.Titre.Libelle">
                    }
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-sm-6 col-lg-2">
                    <label>Album</label>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-10">
                    @if (Model.Titre == null)
                    {
                        <input type="text" class="form-control" />
                    }
                    else
                    {
                        <input type="text" class="form-control" value="@Model.Titre.Album"/>
                    }
                </div>
            </div>


            <div class="row mb-4">
                <div class="col-sm-6 col-lg-2">
                    <label>Chronique</label>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-10">
                    @if (Model.Titre == null)
                    {
                        <textarea type="text" class="form-control"></textarea>

                    }
                    else
                    {
                        <textarea type="text" class="form-control">@Model.Titre.Chronique</textarea>
                    }
                </div>
            </div>


            <div class="row mb-4">
                <div class="col-sm-4 col-lg-2">
                    <label>Date de sortie</label>
                </div>

                <div class="col-xs-5 col-sm-2 col-lg-4">
                    @if (Model.Titre == null)
                    {
                        <input type="date" class="form-control">


                    }
                    else
                    {
                        <input type="date" class="form-control" value="@Model.Titre.DateSortie">

                    }
                </div>

                <div class="col-sm-4 col-lg-2">
                    <label>Durée en seconde</label>
                </div>

                <div class="col-xs-5 col-sm-2 col-lg-4">
                    @if (Model.Titre == null)
                    {
                        <input type="number" class="form-control">
                    }
                    else
                    {
                        <input type="number" class="form-control" value="@Model.Titre.Duree">
                    }
                </div>
            </div>


            <div class="row mb-4">
                <div class="col-sm-6 col-lg-2">
                    <label>Styles</label>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-10">
                    @foreach (var style in Model.Styles)
                        {


                    <div class="col-md-2">
                        @if (Model.Titre != null)
                        {
                            @if (Model.Titre.TitresStyles.FirstOrDefault(t => t.IdStyle == style.IdStyle) != null)
                            {
                                <input type="checkbox" name="styleInput" checked />
                            }
                            else
                            {
                                <input type="checkbox" name="styleInput" />
                            }
                        }
                        else
                        {
                            <input type="checkbox" name="styleInput" />
                        }
                        <label for="styleInput">@style.Libelle</label>
                    </div>
                        }
                </div>
            </div>





            <br />
            <br />
            <div class="row">
                <div class="col-sm-6 col-lg-2">
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-10">
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
            </div>
            <br />
            <a asp-action="">Retour à l'administration des titres</a>
        </form>
    </div>
</div>